/* Overall row that holds the two statuses */
.statusRow {
  margin: 10px auto;
  justify-content: center;
}

.col {
  margin: 10px auto;
}

/* Round background */
.roundRectangle {
  display: table;
  height: 80px;
  /* min-width: 300px; */
  border-radius: 50px;
  -webkit-box-shadow: 3px 4px 18px 3px #878787; 
  box-shadow: 3px 4px 18px 3px #878787;
  color: white;
  margin: auto;
}

/* Background and text colors of statuses */
.low {
  background-color: #00ba52;
  color: white;
}

.moderate {
  /* #FEFF00 */
  background-color: #ffc900;
  color: black;
}

.veryHigh {
  background-color: #ff0b00;
  color: white;
}

.default {
  background-color: #61dafb;
}

.text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding: 10px;
}