.table {
  background-color: white;
  height: 500px;
  table-layout: fixed;
  width: 100%;
}

th, td, .tableText, .levels {
  text-align: center;
  vertical-align: middle !important;
  white-space: normal !important;
  word-break: normal !important;
}


th, .levels {
  font-weight: 900;
  font-size: 1.1rem;
  background-color: #ddecf1;
  color: black;
}

td {
  font-weight: 600;
  font-size: 1.05rem;
}

/* Background and text colors of the statuses */
.safe {
  background-color: #00ba52;
  color: white;
}

.warning {
  /* Brighter yellow (moderate): #FEFF00 */
  background-color: #ffc900;
  color: black;
}

.shutdown {
  background-color: #ff0b00;
  color: white;
}

.campus {
  background-color: #c8d5da;
}
