/* Center the "Overview" Text */
.center {
  margin: auto;
  text-align: center;
}

.smallerText {
  font-size: 1rem;
}

/* Individual card icons */
.icon {
  float: right;
  height: 100px;
  width: 100px;
}

/* Text formatting */
h2, h3 {
  text-align: center;
  font-weight: 900;
}